
.compact-inc.cirru
.calcit-error.cirru

js-out/
.calcit/
compact.cirru
package.cirru
node_modules/
dist/
dist-server/
out-page/

yarn-error.log

backups/
woodenlist.cirru
storage.cirru

.DS_Store

.yarn/*.gz
.pnp.cjs
.pnp.loader.mjs
