
body {
  margin: 0;
  overscroll-behavior-y: none;

  font-family: Hind, Verdana, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.dev-shadows,
.dev-shadows * {
  box-shadow: 0 0 1px hsla(0,0%,0%,0.3);
}

.item:hover {
  background-color: hsl(0,0%,94%);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}
